<br>

<div class="container-fluid text-center">
	<form class="form-inline">
	  <div class="form-group">
	    <label>Host</label>
	    <input type="text" class="form-control" ng-model="adminMachinesController.host" ng-change="adminMachinesController.update()">
	  </div>
	</form>
</div>

<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-push-2">
			<div class="machine" ng-repeat="machine in adminMachinesController.machines">
				<div class="main">
					<div class="info">
						<div class="title">
							<span>{{machine.name}}</span>
						</div>
						<div class="field">
							<label>Host:</label>
							<div>{{machine.host}}</div>
						</div>
						<div class="field">
							<label>Date created:</label>
							<div>{{machine.createdAt | date: 'yyyy-MM-dd'}}</div>
						</div>
						<div class="field">
							<label>Owner:</label>
							<div>
								{{machine.primaryUser.fullName}}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>