topcatUrl https://domain:8181
allowedIcatUrls https://domain:8181
facilityName facility

# ssh details for contextualising the VMs
sshKeyPairName keypairname
sshUsername username
sshPrivateKeyFile /home/user/id_rsa

# how long to wait for machine to configure before marking them as ERROR
maxPrepareSeconds 600

# how long machines can be inactive for before deleting
time_to_delete 12000

# Get username via UserOffice
uoc True

# UO information
uourl https://uo.url/uo?WSDL
uowebserviceurl http://webservice.url/
uowebserviceextension UserOfficeWebService
uokey key

# Virtual Machine Manager
vmmHost http://127.0.0.1:8080
vmmUser example_cloud_owner
vmmPassword owner_password
