<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
</head>
<table class="pure-table" style="margin: auto;">
    <thead>
        <tr>
            <th>Date</th>
            <th>In Cycle</th>
            <th>Service status</th>
            <th>Expected Duration</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>23/11/2020</td>
            <td>Cycle_20_03 (Maintenance day)</td>
            <td>At risk</td>
            <td>11:00-12:00 (UTC)</td>
        </tr>
        <tr>
            <td>05/11/2020</td>
            <td>N/A</td>
            <td>At risk, Frontend likely unavailable</td>
            <td>10:00-11:00 (UTC)</td>
        </tr>
        <tr>
            <td>04/11/2020</td>
            <td>N/A</td>
            <td>At risk, Frontend likely unavailable</td>
            <td>07:00-09:00 (UTC)</td>
        </tr>
        <tr>
            <td>27/09/2020</td>
            <td>N/A</td>
            <td>At risk</td>
            <td>12:00-13:00 (UTC)</td>
        </tr>
        <tr>
            <td>23/09/2020</td>
            <td>Cycle_20_02</td>
            <td>Front end will be unavailable, existing sessions will not be affected</td>
            <td>10:00-11:00 (UTC +1)</td>
        </tr>
        <tr>
            <td>03/09/2020</td>
            <td>N/A</td>
            <td>At risk</td>
            <td>13:00-17:00 (UTC +1)</td>
        </tr>
        <tr>
            <td>05/08/2020</td>
            <td>N/A</td>
            <td>At risk</td>
            <td>3 working days</td>
        </tr>
        <tr>
            <td>03/08/2020</td>
            <td>N/A</td>
            <td>Completely unavailable</td>
            <td>2 working days</td>
        </tr>
    </tbody>

</table>
